QTreeView::indicator {
     width: 16px;
     height: 20px;
}

QTreeView::indicator:checked {
     image: url(:/res/checkbox/light/normal/checked.svg);
}

QTreeView::indicator:unchecked {
     image: url(:/res/checkbox/light/normal/unchecked.svg);
}

QTreeView::indicator:checked:hover {
     image: url(:/res/checkbox/light/hover/checked.svg);
}

QTreeView::indicator:unchecked:hover {
     image: url(:/res/checkbox/light/hover/unchecked.svg);
}

QTreeView::indicator:checked:pressed {
     image: url(:/res/checkbox/light/pressed/checked.svg);
}

QTreeView::indicator:unchecked:pressed {
     image: url(:/res/checkbox/light/pressed/unchecked.svg);
}

QTreeView::indicator:checked:disabled {
     image: url(:/res/checkbox/light/disabled/checked.svg);
}

QTreeView::indicator:unchecked:disabled {
     image: url(:/res/checkbox/light/disabled/unchecked.svg);
}

QAbstractItemView {
    icon-size: 20px;
}

/*
QTreeView::branch:open {
     image: url(:/res/branch_open.svg);
     height: 16px;
     icon-size: 16px;
}

QTreeView::branch:closed {
     image: url(:/res/branch_closed.svg);
}

QTreeView::branch:!has-children {
     image: none;
}

*/
