#_folderList::indicator {
     width: 16px;
     height: 20px;
}

#_folderList::item:focus {
    outline: none;
    border: none;
}

#_folderList::branch {
    background: transparent;
    image: none;
}

QAbstractItemView {
    icon-size: 20px;
}

[theme="light"] #_folderList {
    /*show-decoration-selected: 1;*/
    border: 1px solid rgba(203, 205, 211, 1);
}

[theme="light"] #_folderList::indicator:checked { image: url(:/res/checkbox_mac/light/normal/checked.svg); }
[theme="light"] #_folderList::indicator:unchecked { image: url(:/res/checkbox_mac/light/normal/unchecked.svg); }
[theme="light"] #_folderList::indicator:checked:disabled { image: url(:/res/checkbox_mac/light/disabled/checked.svg); }
[theme="light"] #_folderList::indicator:unchecked:disabled { image: url(:/res/checkbox_mac/light/disabled/unchecked.svg); }

[theme="light"] #_folderList::item:selected:active,
[theme="light"] #_folderList::item:selected:!active {
    background: @selectionBackgroundLight;
    color: rgba(0, 0, 0, 0.87);
}

[theme="light"] #_folderList::branch:selected {
    background: @selectionBackgroundLight;
    image: none;
}

[theme="dark"] #_folderList {
    border: 1px solid rgba(97, 97, 97, 1);
}

[theme="dark"] #_folderList::indicator:checked { image: url(:/res/checkbox_mac/dark/normal/checked.svg); }
[theme="dark"] #_folderList::indicator:unchecked { image: url(:/res/checkbox_mac/dark/normal/unchecked.svg); }
[theme="dark"] #_folderList::indicator:checked:disabled { image: url(:/res/checkbox_mac/dark/disabled/checked.svg); }
[theme="dark"] #_folderList::indicator:unchecked:disabled { image: url(:/res/checkbox_mac/dark/disabled/unchecked.svg); }

[theme="dark"] #_folderList::item:selected:active,
[theme="dark"] #_folderList::item:selected:!active {
    background: @selectionBackgroundDark;
    color: rgba(255, 255, 255, 0.87);
}

[theme="dark"] #_folderList::branch:selected {
    background: @selectionBackgroundDark;
    image: none;
}
