QTableWidget::indicator {
    width: 16px;
    height: 20px;
}

QTableWidget::indicator:checked {
    image: url(:/res/checkbox/light/normal/checked.svg);
}

QTableWidget::indicator:unchecked {
    image: url(:/res/checkbox/light/normal/unchecked.svg);
}

QTableWidget::indicator:checked:hover {
    image: url(:/res/checkbox/light/hover/checked.svg);
}

QTableWidget::indicator:unchecked:hover {
    image: url(:/res/checkbox/light/hover/unchecked.svg);
}

QTableWidget::indicator:checked:pressed {
    image: url(:/res/checkbox/light/pressed/checked.svg);
}

QTableWidget::indicator:unchecked:pressed {
    image: url(:/res/checkbox/light/pressed/unchecked.svg);
}

QTableWidget::indicator:checked:disabled {
    image: url(:/res/checkbox/light/disabled/checked.svg);
}

QTableWidget::indicator:unchecked:disabled {
    image: url(:/res/checkbox/light/disabled/unchecked.svg);
}

QAbstractItemView {
    icon-size: 20px;
}
