#CUR_NetworkSettings {
    background-color: #FFFFFF;
}

#proxyGroupBox,
#downloadBox,
#uploadBox {
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #CBCDD3;
    margin-top: 24px;
    font-size: 14px;
}

#proxyGroupBox::title,
#downloadBox::title,
#uploadBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 0px;
}
