[theme="light"] #dialogStack,
[theme="light"] #stack {
    background-color: @windowBackgroundLight;
}

[theme="dark"] #dialogStack,
[theme="dark"] #stack {
    background-color: @windowBackgroundDark;
}
