.helper_frame { border: none; }

#frame {
    border-radius: 10px;
    border: 1px solid transparent;
}

#frameContent, #frameButtons {
    border: none;
    background: transparent;
    border-radius: 7px;
}

#frameContent {
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#frameButtons {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#btnIcon, #btnIcon:pressed {
    border: none;
    padding: 0px;
}

#lblHeader {font-size: 14px; font-weight: bold;}
#lblText {font-size: 12px;}

#btnAccept,
#btnReject {
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 6px;
    padding-left: 14px;
    padding-right: 14px;
}

[theme="light"] #frame {background: #FFFFFF;}
[theme="light"] #lblHeader,
[theme="light"] #lblText {color: rgba(0, 0, 0, 0.87);}
[theme="light"] #btnAccept {
    color: rgba(255, 255, 255, 0.87);
    background: rgba(25, 118, 210, 1);
    border: none;
}
[theme="light"] #btnReject {
    color: rgba(0, 0, 0, 0.87);
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(223, 223, 223, 1);
}

[theme="light"] #frameContent {
    border-top: 1px solid rgb(203, 205, 211);
    border-left: 1px solid rgb(203, 205, 211);
    border-right: 1px solid rgb(203, 205, 211);
    background: #FFFFFF;
}

[theme="light"] #frameButtons {
    border-left: 1px solid rgb(203, 205, 211);
    border-right: 1px solid rgb(203, 205, 211);
    border-bottom: 1px solid rgb(203, 205, 211);
    background: rgb(240, 241, 245);
}



[theme="dark"] #frame {background: rgba(38, 39, 41, 1);}
[theme="dark"] #lblHeader,
[theme="dark"] #lblText {color: rgba(255, 255, 255, 0.87);}
[theme="dark"] #btnAccept {
    color: rgba(0, 0, 0, 0.87);
    background: rgba(100, 181, 246, 1);
    border: none;
}
[theme="dark"] #btnReject {
    color: rgba(255, 255, 255, 0.87);
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(85, 85, 85, 1);
}

[theme="dark"] #frameContent {
    border-top: 1px solid rgb(97, 97, 97);
    border-left: 1px solid rgb(97, 97, 97);
    border-right: 1px solid rgb(97, 97, 97);
    background: rgb(38, 38, 41);
}

[theme="dark"] #frameButtons {
    border-left: 1px solid rgb(97, 97, 97);
    border-right: 1px solid rgb(97, 97, 97);
    border-bottom: 1px solid rgb(97, 97, 97);
    background: rgb(61, 61, 65);
}
