.helper_frame { border: none; }

#frameContent { border-radius: 24px; }

#lblImage { background-image: url(":/res/Files-app-icon-gradient.svg"); }
#btnImage { border: none; background: transparent; }
#btnLogo { border: none; background: transparent; }
#lblAppName { font-size: 34px; }
#lblEmail { font-size: 16px; }
#showPasswordButton { border: none; }
#frameErrorMessageInternal { border: 1px solid transparent; border-radius: 12px; }

.button_accent {
    border-color: transparent;
    border-width: 1px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.button_normal {
    background: transparent;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.text_button {
    font-size: 14px;
    font-weight: bold;
    outline: none;
    border: 1px solid transparent;
    border-radius: 18px;
    background: transparent;
}

.button_icon_tool {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
}

/*** Light theme */

[theme="light"] #frameContent { background-color: #FFFFFF; }
[theme="light"] #lblEmail {color: rgba(0, 0, 0, 0.87);}

[theme="light"] #showPasswordButton { image: url(":/res/login/eye_closed_light.svg"); }
[theme="light"] #showPasswordButton:checked { image: url(":/res/login/eye_open_light.svg"); }

[theme="light"] .button_accent {background: #1976D2; color: #FFFFFF;}
[theme="light"] .button_accent:hover { background: rgba(30, 136, 229, 1); }
[theme="light"] .button_accent:pressed { background: rgba(20, 92, 164, 1); }

[theme="light"] .button_normal { border: 1px solid #1976D2; color: #1976D2; }
[theme="light"] .button_normal:hover { background: rgba(30, 136, 229, 0.12); }
[theme="light"] .button_normal:pressed { background: rgba(30, 136, 229, 0.3); }

[theme="light"] .button_accent:disabled,
[theme="light"] .button_normal:disabled { background: #EEEEEE; color: #9E9E9E; }

[theme="light"] .text_button { color: #1976D2; }
[theme="light"] .text_button:disabled { color: #9E9E9E; }
[theme="light"] .text_button:hover { background: rgba(30, 136, 229, 0.12); }
[theme="light"] .text_button::pressed { background: rgba(30, 136, 229, 0.3); }

[theme="light"] .button_icon_tool:hover { background: rgba(30, 136, 229, 0.12); }
[theme="light"] .button_icon_tool:pressed { background: rgba(30, 136, 229, 0.3); }

[theme="light"] #frameErrorMessageInternal { background: rgba(244,67,54,31); }
[theme="light"] #lblErrorIcon { image: url(":/res/login/error_light.svg"); }
[theme="light"] #lblErrorText { color: rgba(0,0,0,222); }
[theme="light"] #lblAppName { color: rgba(0, 0, 0, 0.87); }


/*** Dark theme */

[theme="dark"] #frameContent { background-color: #262729; }
[theme="dark"] #lblEmail { color: rgba(255, 255, 255, 0.87); }

[theme="dark"] #showPasswordButton { image: url(":/res/login/eye_closed_dark.svg"); }
[theme="dark"] #showPasswordButton:checked { image: url(":/res/login/eye_open_dark.svg"); }

[theme="dark"] .button_accent { background: #64B5F6; color: #212121; }
[theme="dark"] .button_accent:hover { background: rgba(144, 202, 249, 1); }
[theme="dark"] .button_accent:pressed { background: rgba(53, 158, 243, 1); }

[theme="dark"] .button_normal { border: 1px solid rgba(100, 181, 246, 1); color: rgba(100, 181, 246, 1); }
[theme="dark"] .button_normal:hover { background: rgba(144, 202, 249, 0.12); }
[theme="dark"] .button_normal:pressed { background: rgba(144, 202, 249, 0.3); }

[theme="dark"] .button_accent:disabled,
[theme="dark"] .button_normal:disabled { background: #616161; color: #9E9E9E; }

[theme="dark"] .text_button { color: rgba(100, 181, 246, 1); }
[theme="dark"] .text_button:disabled { color: rgba(158, 158, 158, 1); }
[theme="dark"] .text_button:hover { background: rgba(144, 202, 249, 0.12); }
[theme="dark"] .text_button:pressed { background: rgba(144, 202, 249, 0.3); }

[theme="dark"] .button_icon_tool:hover { background: rgba(144, 202, 249, 0.12); }
[theme="dark"] .button_icon_tool:pressed { background: rgba(144, 202, 249, 0.3); }

[theme="dark"] #frameErrorMessageInternal { background: rgba(242,143,140,61); }
[theme="dark"] #lblErrorIcon { image: url(":/res/login/error_dark.svg"); }
[theme="dark"] #lblErrorText { color: rgba(255,255,255,222); }
[theme="dark"] #lblAppName { color: rgba(255, 255, 255, 0.87); }
