#frameContent {
    background-color: #FFFFFF;
    border-radius: 24px;
}

#frame,
#frameHalign,
#frameContent,
#frameToolbar,
#frameLogo,
#frameInput,
#frameProps,
#frameImage,
#frameText,
#frameErrorMessage,
#frameButton,
#frameRefreshBtn {
    border: none;
}

#lblImage {
    background-image: url(":/res/Files-logo.png");
}

#lblCurator,
#lblFiles {
    font-size: 34px;
    font: "Segoe UI";
}

#lblCurator {
    color: #6EBD49;
}

/**** Login button */
#btnLogin {
    background: #1976D2;
    border-color: transparent;
    border-width: 1px;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 14px;
    font: "Segoe UI";
}

#btnLogin:hover {
    background: rgba(30, 136, 229, 1);
}

#btnLogin:pressed {
    background: rgba(20, 92, 164, 1);
}

/**** Cancel button */
#btnCancel {
    background: transparent;
    border: 1px solid #1976D2;
    border-radius: 20px;
    color: #1976D2;
    font-size: 14px;
}

#btnCancel:hover {
    background: rgba(30, 136, 229, 0.12);
}

#btnCancel:pressed {
    background: rgba(30, 136, 229, 0.3);
}


#btnLogin:disabled,
#btnCancel:disabled {
    background: #EEEEEE;
    color: #9E9E9E;
}

#btnRefresh {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
}

#btnRefresh:hover {
    background: rgba(30, 136, 229, 0.12);
    border: 1px solid transparent;
    border-radius: 20px;
}
#btnRefresh:pressed {
    background: rgba(30, 136, 229, 0.3);
}

#btnResetPass {
    background: transparent;
    color: "#1976D2";
    border: 1px solid transparent;
    border-radius: 20px;
    font: "Segoe UI";
    font-size: 14px;
}
#btnResetPass:hover {
    background: rgba(30, 136, 229, 0.12);
}
#btnResetPass:pressed {
    background: rgba(30, 136, 229, 0.3);
}

#btnSettings,
#btnBack {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
}

#btnSettings:hover,
#btnBack:hover {
    background: rgba(30, 136, 229, 0.12);
    border: 1px solid transparent;
    border-radius: 20px;
}
#btnSettings:pressed,
#btnBack:pressed {
    background: rgba(30, 136, 229, 0.3);
}

#lblEmail {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

#edUrl {
    background: transparent;
    border: none;
    font-size: 16px;
}

#edPassword {
    background: transparent;
    border: none;
    font: "Segoe UI";
    font-size: 16px;
}

#frameEmail,
#frameUrl,
#framePassword {
    border: none;
}

#frameErrorMessageInternal {
    background: rgba(244,67,54,31);
    border: 1px solid transparent;
    border-radius: 12px;
}

#lblErrorIcon {
    image: url(":/res/login/error_light.svg");
}

#lblErrorText {
    color: rgba(0,0,0,222);
}

#showPasswordButton {
    border: none;
    image: url(":/res/login/eye_closed_light.svg");
}

#showPasswordButton:checked {
    image: url(":/res/login/eye_open_light.svg");
}
