#frameContent {
    background-color: #262729;
    border-radius: 24px;
}

#frame,
#frameHalign,
#frameContent,
#frameToolbar,
#frameLogo,
#frameInput,
#frameProps,
#frameImage,
#frameText,
#frameErrorMessage,
#frameButton,
#frameRefreshBtn {
    border: none;
}

#lblImage {
    background-image: url(":/res/Files-logo.png");
}

#lblCurator,
#lblFiles {
    font-size: 34px;
    font: "Segoe UI";
}

#lblCurator {
    color: #6EBD49;
}

/**** Login button */
#btnLogin {
    background: #64B5F6;
    border-color: transparent;
    border-width: 1px;
    border-radius: 20px;
    color: #212121;
    font-size: 14px;
}

#btnLogin:hover {
    background: rgba(144, 202, 249, 1);
}

#btnLogin:pressed {
    background: rgba(53, 158, 243, 1);
}

/**** Cancel button */
#btnCancel {
    background: transparent;
    border: 1px solid rgba(100, 181, 246, 1);
    border-radius: 20px;
    color: rgba(100, 181, 246, 1);
    font-size: 14px;
}

#btnCancel:hover {
    background: rgba(144, 202, 249, 0.12);
}

#btnCancel:pressed {
    background: rgba(144, 202, 249, 0.3);
}


#btnLogin:disabled,
#btnCancel:disabled {
    background: #616161;
    color: #9E9E9E;
}

#btnRefresh {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
}

#btnRefresh:hover {
    background: rgba(144, 202, 249, 0.12);
}

#btnRefresh:pressed {
    background: rgba(144, 202, 249, 0.3)
}

#btnResetPass {
    background: transparent;
    color: #64B5F6;
    border: 1px solid transparent;
    border-radius: 20px;
    font: "Segoe UI";
    font-size: 14px;
}
#btnResetPass:hover {
    background: rgba(144, 202, 249, 0.12);
}
#btnResetPass:pressed {
    background: rgba(144, 202, 249, 0.3);
}

#btnSettings,
#btnBack {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
}

#btnSettings:hover,
#btnBack:hover {
    background: rgba(144, 202, 249, 0.12);
}

#btnSettings:pressed,
#btnBack:pressed {
    background: rgba(144, 202, 249, 0.3);
}

#lblEmail {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.87);
}

#edUrl {
    background: transparent;
    border: none;
    font-size: 16px;
}

#edPassword {
    background: transparent;
    border: none;
    font: "Segoe UI";
    font-size: 16px;
}

#frameEmail,
#frameUrl,
#framePassword {
    border: none;
}

QToolTip {
    background: #B8B8B8;
    color: rgba(0,0,0,222);
    border: 1px solid transparent;
    border-radius: 4px;
}

#frameErrorMessageInternal {
    background: rgba(242,143,140,61);
    border: 1px solid transparent;
    border-radius: 12px;
}

#lblErrorIcon {
    image: url(":/res/login/error_dark.svg");
}

#lblErrorText {
    color: rgba(255,255,255,222);
}

#showPasswordButton {
    border: none;
    image: url(":/res/login/eye_closed_dark.svg");
}

#showPasswordButton:checked {
    image: url(":/res/login/eye_open_dark.svg");
}
