#frameContent {
    background-color: #FFFFFF;
    border-radius: 24px;
}

#frame,
#frameHalign,
#frameHead,
#frameAdvanced,
#frameDownload,
#frameDownloadGroup,
#frameDownloadDir,
#frameErrorMessage,
#frameButtons {
    border: none;
}

#btnBrowse {
    border: none;
    image: url(":/res/login/browse_light.svg");
}

#btnReset {
    border: none;
    image: url(":/res/login/reset_light.svg");
}

#lblHeader {
    font-size: 34px;
    color: rgba(0,0,0,0xDE);
}

#frameLocalDir {
    border: 1px solid #CBCDD3;
    border-radius: 20px;
}

#lblConfigDownload,
#lblLocalDir {
    font-size: 16px;
    font-style: bold;
}

#chkAdvanced,
#rbDownloadEverything,
#rbConfigManually,
#rbUseVfs {
    font-size: 14px;
}

#frameErrorMessage {
    background: rgba(244,67,54,31);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 12px;
}

#lblErrorIcon {
    image: url(":/res/login/error_light.svg");
}

#lblErrorText {
    color: rgba(0,0,0,222);
}
