.helper_frame { border: none; }

.button_accent {
    border-color: transparent;
    border-width: 1px;
    border-radius: 20px;
    font-size: 14px;
}

.button_normal {
    background: transparent;
    border-radius: 20px;
    font-size: 14px;
}

.button_radio {
    font-size: 14px;
    padding: 0px;
}

.button_icon_tool {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
}

#btnVfsIcon { border: none; background: transparent; }

#frameContent { border-radius: 24px; }

#lblHeader { font-size: 34px; }
#lblUseVfs, #lblConfigManually, #lblDownloadEverything { font-size: 14px; }

#btnBrowse, #btnReset { border: none; }

#chkAdvanced {
    font-size: 16px;
}

#lblConfigDownload,
#lblLocalDir {
    font-size: 16px;
    font-weight: bold;
}

#frameErrorMessage {
    border: 1px solid transparent;
    border-radius: 12px;
}


/*** Light theme */

[theme="light"] .button_accent {background: @primaryLight; color: @onPrimaryLight;}
[theme="light"] .button_accent:hover { background: @primaryHoverLight; }
[theme="light"] .button_accent:pressed { background: @primaryPressedLight; }

[theme="light"] .button_normal { border: 1px solid @outlineButtonLight; color: @outlineButtonLight; }
[theme="light"] .button_normal:hover { background: @outlineButtonHoverBackgroundLight; border-color: @outlineButtonHoverLight; color: @outlineButtonHoverLight; }
[theme="light"] .button_normal:pressed { background: @outlineButtonPressedBackgroundLight; border-color: @outlineButtonPressedLight; color: @outlineButtonPressedLight; }

[theme="light"] .button_icon_tool:hover { background: @flatButtonHoverBackgroundLight; }
[theme="light"] .button_icon_tool:pressed { background: @flatButtonPressedBackgroundLight; }

[theme="light"] .button_radio,
[theme="light"] #lblHeader,
[theme="light"] #lblErrorText { color: rgba(0, 0, 0, 0.87); }
[theme="light"] #frameContent { background-color: @wizardCardBackgroundLight; }
[theme="light"] #lblErrorIcon { image: url(":/res/login/error_light.svg"); }

[theme="light"] #frameErrorMessage { background: rgba(244,67,54,31); }

/*** Dark theme */

[theme="dark"] .button_accent { background: @primaryDark; color: @onPrimaryDark; }
[theme="dark"] .button_accent:hover { background: @primaryHoverDark; }
[theme="dark"] .button_accent:pressed { background: @primaryPressedDark; }

[theme="dark"] .button_normal { border: 1px solid @outlineButtonDark; color: @outlineButtonDark; }
[theme="dark"] .button_normal:hover { background: @outlineButtonHoverBackgroundDark; border-color: @outlineButtonHoverDark; color: @outlineButtonHoverDark; }
[theme="dark"] .button_normal:pressed { background: @outlineButtonPressedBackgroundDark; border-color: @outlineButtonPressedDark; color: @outlineButtonPressedDark; }

[theme="dark"] .button_icon_tool:hover { background: @flatButtonHoverBackgroundDark; }
[theme="dark"] .button_icon_tool:pressed { background: @flatButtonPressedBackgroundDark; }

[theme="dark"] .button_radio,
[theme="dark"] #lblHeader,
[theme="dark"] #lblErrorText { color: rgba(255, 255, 255, 0.87); }
[theme="dark"] #frameContent { background-color: @wizardCardBackgroundDark; }
[theme="dark"] #lblErrorIcon { image: url(":/res/login/error_dark.svg"); }

[theme="dark"] #frameErrorMessage { background: rgba(242,143,140,61); }
