.helper_frame { border: none; }

#frameContent {
    border-radius: 24px;
    background-color: #262729;
}

#lblImage {
    background-image: url(":/res/Files-logo.png");
}

#lblAppName,
#lblFiles {
    font-size: 34px;
}

#lblAppName {
    color: #6EBD49;
}

/*** Light theme */

[theme="light"] #frameContent { background-color: #FFFFFF; }
[theme="light"] #lblAppName { color: #6EBD49; }

/*** Dark theme */

[theme="dark"] #frameContent { background-color: #262729; }
[theme="dark"] #lblAppName { color: #6EBD49; }
