#mainFrame {
    border: none;
}

#inputFrame {
    border: 1px solid #F44336;
    border-radius: 20px;
}

#errorFrame {
    border: none;
}

#comboBox {
    border: none;
    border-radius: 0px;
    background: transparent;
    font-size: 16px;
}

#comboBox::drop-down:button {
    width: 32px;
}

#comboBox::down-arrow {
    image: url(://res/combowidget/triangle_down.svg);
}

#comboBox::down-arrow:on {
    image: url(://res/combowidget/triangle_up.svg);
}

#promptLabel {
    color: #F44336;
    background: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
}

#errorLabel {
    color: #F44336;
    background: #FFFFFF;
    font-size: 12px;
    padding-left: 4px;
}

#arrowButton {
    border: none;
}

#btnDeviceIcon {
    background: transparent;
    border: none;
    image: url(:/res/combowidget/device_icon.svg);
}
