#mainFrame {
    border: none;
}

#inputFrame {
    border: 1px solid #CBCDD3;
    border-radius: 20px;
}

#errorFrame {
    border: none;
}

#comboBox {
    border: none;
    border-radius: 0px;
    background: rgba(0,0,0,0);
    font-size: 16px;
}

#comboBox::drop-down:button {
    width: 32px;
}

#comboBox::down-arrow {
    image: url(://res/combowidget/triangle_down.svg);
}

#comboBox::down-arrow:on {
    image: url(://res/combowidget/triangle_up.svg);
}

#promptLabel {
    color: rgba(255,255,255,204);
    background-color: #262729;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid rgba(0,0,0,0);
}

#errorLabel {
    color: #F28F8C;
    background: rgba(0,0,0,0);
}

#arrowButton {
    border: none;
}
