#frameRoot {
    border: none;
}

#frameContent {
    border: none;
}

#frameButtons {
    border: none;
}

[theme="light"] #frameRoot {
    background-color: #FFFFFF;
}

[theme="light"] #frameContent {
    background-color: #FFFFFF;
}

[theme="light"] #frameButtons {
    background-color: #E7E7E7;
    border-top: 1px solid #D1D1D1;
}

[theme="dark"] #frameRoot {
    background-color: #191919;
}

[theme="dark"] #frameContent {
    background-color: #191919;
}

[theme="dark"] #frameButtons {
    background-color: #4F4F4F;
    border-top: 1px solid #5D5D5D;
}

WizardTreeWidget {
    background: transparent;
    border: none;
    outline: none;
    selection-background-color: transparent;
}

WizardTreeWidget::item,
WizardTreeWidget::item:hover,
WizardTreeWidget::item:selected,
WizardTreeWidget::item:selected:active,
WizardTreeWidget::item:selected:!active {
    background: transparent;
    border: none;
    outline: none;
}

[theme="light"] #selectiveSyncTree {
    border: 1px solid #D1D1D1;
}

[theme="light"] #selectiveSyncTree:disabled {
    background: #E7E7E7;
}

[theme="dark"] #selectiveSyncTree {
    border: 1px solid #5D5D5D;
}

[theme="dark"] #selectiveSyncTree:disabled {
    background: #4F4F4F;
}
