[theme="light"] #mainFrame {
    border: none;
}

[theme="light"] #inputFrame {
    border: 1px solid rgba(203, 205, 211, 1);
    border-radius: 20px;
}

[theme="light"] #inputFrame[focusedFrame=true] {
    border: 3px solid rgba(25, 118, 210, 1);
}

[theme="light"] #inputFrame[focusedFrame=false] {
    border: 1px solid rgba(203, 205, 211, 1);
}

[theme="light"] #errorFrame {
    border: none;
}

[theme="light"] #inputLineEdit {
    border: none;
    border-radius: 0px;
    background: transparent;
    font-size: 16px;
}

[theme="light"] #promptLabel {
    color: rgba(0,0,0,204);
    background: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

[theme="light"] #errorLabel {
    color: #F44336;
    background: #FFFFFF;
}

[theme="light"] #showPasswordButton {
    border: none;
}

[theme="dark"] #mainFrame {
    border: none;
}

[theme="dark"] #inputFrame {
    border: 1px solid rgba(97, 97, 97, 1);
    border-radius: 20px;
}

[theme="dark"] #inputFrame[focusedFrame=true] {
    border: 3px solid rgba(100, 181, 246, 1);
}

[theme="dark"] #inputFrame[focusedFrame=false] {
    border: 1px solid rgba(97, 97, 97, 1);
}

[theme="dark"] #errorFrame {
    border: none;
}

[theme="dark"] #inputLineEdit {
    border: none;
    border-radius: 0px;
    background: transparent;
    font-size: 16px;
}

[theme="dark"] #promptLabel {
    color: rgba(255,255,255,204);
    background-color: #262729;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid transparent;
}

[theme="dark"] #errorLabel {
    color: #F28F8C;
    background: transparent;
}

[theme="dark"] #showPasswordButton {
    border: none;
}
