#mainFrame {
    border: none;
}

#inputFrame {
    border: 1px solid #CBCDD3;
    border-radius: 20px;
}

#errorFrame {
    border: none;
}

#inputLineEdit {
    border: none;
    border-radius: 0px;
    background: transparent;
    font-size: 16px;
}

#promptLabel {
    color: rgba(255,255,255,204);
    background-color: #262729;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid transparent;
}

#errorLabel {
    color: #F28F8C;
    background: transparent;
}

#showPasswordButton {
    border: none;
}
